/*Genel Biçimlendirme*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    min-height:100vh ;/*vh view height görünen alanını */
    display: flex;
    flex-direction: column;/*İçindeki nesnelerin hangi yönde yerleşeceği*/
    font-size: ½150;
    line-height: 1.5em; /**/
}

/*header bölümü*/
header,footer{
    background-color: #333;
    color: #ffffff;
    text-align: center;
    padding-top: 30px;
}
header h1{
font-size: 2.4em;

}

#main-menu{
    display: flex;
    list-style: none;
    justify-content: center;/* İçindeki ögeler ortalanır*/
}

#main-menu a{
    display: block;
    color: #ffffff;
    text-decoration: none;
    padding: 12px 10px;
     
}
/*Orta bölüm*/
main{
    display: flex;
    gap: 20px;
    padding: 20px;
    flex: auto;
}
#content{
    background-color: #c7c3c3;
    padding: 20px;
    border: solid #6a737b 2px;
    flex: 9;
}
#content p{
    margin-bottom: 16px;
    margin-top: 8px;
}

aside{
    background-color: #ddbdbd;
    padding: 20px;
    border: solid #6a737b 2px;
    flex: 3;
    
}

aside h2{
    margin-bottom: 10px;
}
aside ul{
    list-style: none;   
}

aside a{
    color: #000000;
    
}
footer{
    padding-bottom: 30px;
}

